---
layout: page
title: Notes
permalink: /notes/
---

{% for collection in site.collections %}

  {% assign name = collection.label %}

  {% unless name == 'posts' %}

  <button class="collapsible">{{ collection.title }}</button>

      <div class="collapse-content">
        <p>{{ collection.description | markdownify }}</p>
        {% for page in site.[name] %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      <br>
      </div>

  {% endunless %}

{% endfor %}