---
layout: default
---

<div class="home">
  <hr>
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div>
    <p style="float: left;"><img src="{{ site.avatar }}" class="avatar" style="width: 300px"></p>
    <p>{{ content }}</p>
  </div>
  <br>
  <hr>
  <br>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Updates" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%if post.categories contains "update"%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      {% endif %}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
